@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
@import "~normalize.css";

@import "header";
@import "main";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;

  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {

}

li {
  list-style: none;
}

a {
  text-decoration: none;
}